<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    body {
        font-family: Arial, sans-serif;
        
            margin: 0;
            padding: 0;
            background-color: #db4b4b;
            margin-left:200px;
    }
    .balloon {
            margin-bottom: 2em;
            position: relative;
        }

        .balloon:before, .balloon:after {
            clear: both;
            content: "";
            display: block;
        }

        .balloon figure {
            width: 100px;
            height: 100px;
        }
        .balloon figure img {
            width: 100%;
            height: 100%;
            border: 1px solid #343434;
            border-radius: 50%;
            margin: 0;
        }

        .balloon-image-description {
            padding: 5px 0 0;
            font-size: 11px;
            text-align: center;
        }
        .balloon-text-right {
            position: relative;
            padding: 10px;
            border: 1px solid;
            margein-right: 100;
            border-radius: 10px;
            max-width: calc(100% - 120px);
            display: inline-block;
            border-color: #343434;
            
        }
        .balloon-text-right:before {
            border: 10px solid transparent;
            border-right: 10px solid #343434;
            top: 15px;
            left: -20px;
            position: absolute;
            content: '';
        }
        .balloon-text-right:after {
            border: 10px solid transparent;
            border-right: 10px solid #fff;
            top: 15px;
            left: 30px;
            position: absolute;
            content: '';
        }

        .balloon p {
            margin: 0 0 20px;
        }

        .balloon p:last-child {
            margin-bottom: 0;
        }
   
</style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<%- include('./error_messages'); %>
<%- include('./header'); %>
<% if(isAuth) { %>
  <div class="container"　align="center">
    <div class="row">
      <div class="col-md-6">
        <form action="/" method="post">
          <label>タスクの追加</label>
          <input required type="text" name="add" placeholder="何をする?"/>
          <input type="submit" value="追加"/>
        </form>
      </div>
      <div class="col-md-6">
        <ul>
          <% for(let todo of todos){ %>
            <li><span><%= todo.content %></span></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="balloon">
    <figure class="balloon-image-left">
        <img src="./back1.jpg" alt="キャラ">
        <figcaption class="balloon-image-description">キャラ名</figcaption>
    </figure>
    <div class="balloon-text-right">
      <p>ここに吹き出し内容を入力します。</p>
  </div>
  </div>
<% } else { %>
<div class="balloon">
  <figure class="balloon-image-left">
      <img src="./back1.jpg" alt="キャラ">
      <figcaption class="balloon-image-description">キャラ名</figcaption>
  </figure>
  <div class="balloon-text-right">
    <h1 align="center">契約書</h1>
    <div class="section" align="center">
        <h3>第1条 契約の目的</h3>
        <p>　逃がさないため</p>
    </div>
    <div class="section" align="center">
        <h3>第2条 契約の内容</h3>
        <p>　１３時間拘束・休日なし・固定給１７万５０００円・<br>時間外労働：基本給6２０円×１．５倍×４時間</p>
    </div>
    <div class="section" align="center">
        <h3>第3条 契約期間</h3>
        <p>　定めなし</p>
    </div>
    <div class="section" align="center">
      <h2>第4条 契約の解除</h2>
      <p>　死亡時に開放されることとなる</p>
  </div>
  <div class="signature" align="center">
    <br>
    <br>
    <p>以上について私は同意します。<input type="checkbox"></p>
  
    <p>署名:   川合　洸</p>
  
  </div>
  <div align="center">
    <p>　　　　　　　　　　　　　　<input type="submit" value="完了"></p>
    </div>
</div>
</div>
<% } %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>