<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
 <%- include('./header'); %>
<%- include('./error_messages'); %>
<div class="container" align="center">
  <br>
  <br>
  <br>
 <h1>ようこそ社畜へ</h1>
</div>

</body>
</html>